/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* 2. Remove default margin */
* {
   margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
   html {
      interpolate-size: allow-keywords;
   }
}

body {
   /* 4. Add accessible line-height */
   line-height: 1.5;
   /* 5. Improve text rendering */
   -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
   font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
   text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
   isolation: isolate;
}

body {
   background-color: rgb(241, 236, 216);
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.title {
   text-align: center;
   margin-bottom: 50px;
}

#jsonInput {
   /* margin: auto; */
   /* display: flex; */
   /* flex-direction: column; */
   border-radius: 10px;
   max-width: fit-content;
}

.jsonForm {
   /* margin-left: auto; */
   /* margin-right: auto; */
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* border: 1px solid brown; */
   justify-content: center;
   align-items: center;
}

#jsonSubmit {
   /* max-width: fit-content; */
}

#nextButton {
   order: 3;
}

#prevButton {
   order: 1;
}

#flashCard {
   order: 2;
   display: flex;
   flex-direction: column;
}

#flashCardContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 20px;
   border: 1px solid gray;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   gap: 30px;
   /* padding: 0 40px; */
   background-color: burlywood;
   border-radius: 10px;
}

#flashCardTop {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: inherit;
   padding: 20px;
   /* padding-left: 20px;
   padding-right: 20px; */
   /* height: 100px; */
   align-items: center;
   order: 1;
}

#flipButton {
   width: 100px;
}

#flashCardText {
   text-align: center;
}

#flashCardButtonContainer {
   display: flex;
   justify-content: space-between;
   min-width: 300px;

   order: 2;
}

#flashCardButtonContainer button {
   border: none;
   height: 40px;
   width: 100%;
}

#prevButton {
   background-color: aqua;
   border-end-start-radius: 10px;
}

#nextButton {
   background-color: bisque;
   border-end-end-radius: 10px;
}

#flashCardText {
   font: 900;
   font-size: x-large;
}

.footer {
   background-color: rgb(173, 226, 208);
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}

.footer a {
   text-decoration: none;
   color: inherit;
}

.footer a:hover {
   text-decoration: underline;
}

.footer-separator {
   margin: 0 0.3rem;
   color: rgb(120, 158, 145);
}

#savedCardsContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   order: 2;
}
.savedClassSection {
   display: flex;
   flex-direction: column;
}

.savedClassSection p {
   text-align: center;
   padding-bottom: 10px;
   font-size: x-large;
   font-weight: bold;
   order: 1;
}

.savedCard {
   padding: 10px;
   text-align: center;
   border: 1px solid rgb(124, 111, 96);
   border-radius: 10px;
   background-color: #deb887;
}

button:hover {
   cursor: pointer;
}

.savedCardButtonContainer {
   gap: 10px;
   display: flex;
   margin-top: 10px;
}